[user]
    name = Yodi-El
    email = piusgodfrey04@gmail.com

[core]
    editor = vim

[alias]
    st = status
    co = checkout
    ci = commit
    br = branch

[format]
    pretty = format:%C(yellow)%h%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
